@import url("https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: 400;
  font-family: "Montserrat";
}

header {
  height: 98px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-sort-logo {
  max-width: 134px;
}

.container {
  margin: 0 auto;
  max-width: 1205px;
  position: relative;
}
@media (max-width: 1100px) {
  .container {
    padding: 0 20px;
  }
}
.container_big {
  max-width: 1450px;
  position: relative;
  margin: 0 auto;
}

.ellipse {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
}

.ellipse-icon {
  width: 240px;
  height: 295px;
}
@media (max-width: 1400px) {
  .ellipse-icon {
    width: 140px;
    height: 195px;
  }
}
@media (max-width: 1100px) {
  .ellipse-icon {
    display: none;
  }
}

.intro {
  position: relative;
}
.intro__video {
  height: calc(100vh - 150px);
  width: 100%;
}
@media (max-width: 1100px) {
  .intro__video {
    height: 500px;
  }
}
@media (max-width: 768px) {
  .intro__video {
    height: 300px;
  }
}
.intro__arrow {
  width: 54px;
  height: 54px;
  display: flex;
  background-image: url("../img/arrow-down.svg");
  cursor: pointer;
  position: absolute;
  bottom: -27px;
  left: calc(50% - 27px);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 2;
}
@media (max-width: 1100px) {
  .intro__arrow {
    display: none;
  }
}

.subscribe {
  max-width: 980px;
  margin: 0 auto;
}
.subscribe__content {
  background: #ffffff;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.1);
  padding: 40px 0;
  display: flex;
  justify-content: center;
  margin-bottom: 180px;
  flex-direction: column;
  align-items: center;
}
.subscribe h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #002149;
  margin-bottom: 28px;
}
.subscribe__input {
  width: 100%;
  max-width: 600px;
  border: 1px solid #002149;
  padding: 12px 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #002149;
  margin-bottom: 28px;
}
.subscribe__input::placeholder {
  color: #002149;
}
.subscribe__submit-btn {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  padding: 12px 58px;
  background-color: #002149;
  border: none;
  outline: none;
  cursor: pointer;
}

.info {
  padding-top: 40px;
  padding-bottom: 180px;
}
.info__ellipse_1 {
  width: 379px;
  height: 588px;
  background-image: url("../img/ellipses/circles-1.png");
  right: 0;
  top: 100px;
}
@media (max-width: 1400px) {
  .info__ellipse_1 {
    width: 279px;
  }
}
@media (max-width: 1100px) {
  .info__ellipse_1 {
    width: 179px;
  }
}
@media (max-width: 768px) {
  .info__ellipse_1 {
    width: 140px;
    top: 350px;
  }
}
.info h1 {
  font-weight: 700;
  font-size: 68px;
  line-height: 83px;
  color: #002149;
  color: #002149;
  margin-bottom: 24px;
}
@media (max-width: 1100px) {
  .info h1 {
    font-size: 45px;
    line-height: normal;
  }
}
@media (max-width: 768px) {
  .info h1 {
    font-size: 35px;
  }
}
.info h2 {
  font-weight: 400;
  font-size: 38px;
  line-height: 46px;
  color: #002149;
  max-width: 970px;
  margin-bottom: 124px;
}
@media (max-width: 1100px) {
  .info h2 {
    font-size: 28px;
    max-width: 100%;
  }
}
@media (max-width: 768px) {
  .info h2 {
    font-size: 24px;
    max-width: 100%;
  }
}
.info__meet {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
}
.info__meet-text {
  color: #002149;
  font-weight: 700;
  font-size: 42px;
  margin-right: 22px;
  margin-bottom: 5px;
}
.info__meet-logo {
  max-width: 130px;
}
.info__description {
  max-width: 683px;
  color: #002149;
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  margin-bottom: 36px;
}
@media (max-width: 1100px) {
  .info__description {
    font-size: 20px;
    line-height: normal;
    margin-bottom: 20px;
  }
}
@media (max-width: 768px) {
  .info__description {
    font-size: 18px;
  }
}
.info__description_bold {
  font-weight: 600;
}
.info__disclaimer {
  font-weight: 100;
  font-size: 26px;
  line-height: 32px;
  color: #002149;
  max-width: 1019px;
}
@media (max-width: 1100px) {
  .info__disclaimer {
    font-size: 20px;
    line-height: normal;
  }
}
@media (max-width: 768px) {
  .info__disclaimer {
    font-size: 18px;
    line-height: normal;
  }
}

.future {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 160px;
}
.future__ellipse {
  background-image: url("../img/ellipses/icon_1.png");
  left: 0;
  top: -130px;
}
.future h2 {
  font-weight: 700;
  font-size: 26px;
  line-height: 34px;
  max-width: 700px;
  text-transform: uppercase;
  text-align: center;
  color: #002149;
  margin-bottom: 60px;
}
.future__benefits {
  display: flex;
  justify-content: center;
}
@media (max-width: 1100px) {
  .future__benefits {
    flex-direction: column;
  }
}
.future__benefit {
  flex-shrink: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #002149;
  padding: 32px;
  padding-bottom: 60px;
  max-width: 450px;
  background: #ffffff;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.1);
}
.future__benefit-text_bold {
  font-weight: 600;
}
.future__benefit_left {
  margin-right: 60px;
}
@media (max-width: 1100px) {
  .future__benefit_left {
    margin-right: 0;
    margin-bottom: 50px;
  }
}

.about {
  color: #002149;
  max-width: 760px;
  text-align: center;
  padding-bottom: 160px;
}
.about__ellipse {
  background-image: url("../img/ellipses/icon_2.png");
  right: 0;
  top: 100px;
}
.about h2 {
  font-weight: 700;
  font-size: 26px;
  line-height: 34px;
  margin-bottom: 40px;
  text-transform: uppercase;
}
.about__description {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}
@media (max-width: 1100px) {
  .about__description {
    font-size: 18px;
  }
}
.about__description_bold {
  font-weight: 600;
}

.banner {
  display: flex;
  padding-bottom: 131px;
  justify-content: center;
}
.banner__content {
  max-width: 960px;
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  text-align: center;
  background: #00214a;
  backdrop-filter: blur(172px);
  color: #fff;
  padding: 40px 90px;
}
@media (max-width: 768px) {
  .banner__content {
    font-size: 25px;
    padding: 40px;
  }
}

.study {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 160px;
  color: #002149;
}
@media (max-width: 768px) {
  .study {
    padding-bottom: 50px;
  }
}
.study__ellipse {
  background-image: url("../img/ellipses/icon_3.png");
  left: 0;
  top: -170px;
}
.study h2 {
  font-weight: 700;
  font-size: 26px;
  line-height: 34px;
  text-transform: uppercase;
  text-align: center;
  max-width: 908px;
  margin-bottom: 40px;
}
.study__items {
  width: 100%;
  max-width: 980px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1100px) {
  .study__items {
    align-items: center;
    flex-direction: column;
  }
}
.study__item {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  max-width: 300px;
}
@media (max-width: 1100px) {
  .study__item {
    margin-bottom: 50px;
  }
}
.study__item-percent {
  font-weight: 700;
}

.shield {
  margin-bottom: 180px;
}
.shield__box {
  display: flex;
  padding: 80px 0;
  margin: 0 auto;
  max-width: 960px;
  align-items: center;
  background: #ffffff;
  justify-content: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media (max-width: 768px) {
  .shield__box {
    flex-direction: column;
    align-items: center;
    padding: 165px 20px;
  }
}
.shield img {
  width: 183px;
  margin-right: 70px;
}
@media (max-width: 768px) {
  .shield img {
    max-width: 100px;
    margin-right: 0;
    margin-bottom: 20px;
  }
}
.shield__text {
  color: #002149;
  max-width: 406px;
  font-weight: 400;
  font-size: 26px;
  line-height: 36px;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .shield__text {
    font-size: 22px;
    text-align: center;
  }
}
.shield__text_bold {
  font-weight: 600;
}

.media {
  text-align: center;
  color: #002149;
  max-width: 960px;
  margin-bottom: 288px;
}
@media (max-width: 768px) {
  .media {
    margin-bottom: 150px;
  }
}
.media__ellipse {
  width: 312px;
  height: 774px;
  background-image: url("../img/ellipses/circles-2.png");
  right: 0;
  top: -220px;
}
@media (max-width: 1400px) {
  .media__ellipse {
    width: 219px;
  }
}
@media (max-width: 1100px) {
  .media__ellipse {
    width: 119px;
  }
}
.media__text {
  font-size: 26px;
  line-height: 34px;
  font-weight: 600;
}

.infographic {
  display: flex;
  justify-content: center;
  margin-bottom: 180px;
}
.infographic img {
  max-width: 100%;
}

.benefits2 {
  margin-bottom: 172px;
}
.benefits2 h2 {
  color: #002149;
  text-align: center;
  font-weight: 700;
  font-size: 26px;
  line-height: 34px;
  text-transform: uppercase;
  margin-bottom: 60px;
}
.benefits2__container {
  display: flex;
  flex-wrap: wrap;
  max-width: 840px;
  margin: 0 auto;
}
.benefits2 .mb50 {
  margin-bottom: 50px;
}
.benefits2__item {
  display: flex;
  width: 33.33%;
  text-align: center;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 1100px) {
  .benefits2__item {
    width: 50%;
    margin-bottom: 50px;
  }
}
@media (max-width: 768px) {
  .benefits2__item {
    width: 100%;
    margin-bottom: 50px;
  }
}
.benefits2__item img {
  max-height: 100px;
  margin-bottom: 20px;
}
.benefits2__item-desc {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  max-width: 180px;
  color: #002149;
}

.performing {
  max-width: 960px;
  margin-bottom: 160px;
  color: #002149;
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  z-index: 1;
}
.performing__ellipse {
  width: 247px;
  height: 751px;
  background-image: url("../img/ellipses/circles-3.png");
  left: 0;
  top: -320px;
  z-index: 1;
}
@media (max-width: 1400px) {
  .performing__ellipse {
    width: 140px;
  }
}
@media (max-width: 1100px) {
  .performing__ellipse {
    width: 80px;
  }
}
.performing__ellipse_2 {
  width: 240px;
  height: 295px;
  background-image: url("../img/ellipses/icon_4.png");
  right: 0;
  bottom: 225px;
}
@media (max-width: 1400px) {
  .performing__ellipse_2 {
    width: 140px;
    height: 195px;
    bottom: -22px;
  }
}
.performing__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  margin-bottom: 20px;
}
.performing__text_bold {
  font-weight: 600;
}

.infographic2 {
  display: flex;
  justify-content: center;
  margin-bottom: 160px;
  max-width: 1026px;
}
.infographic2 img {
  max-width: 100%;
}

.testimonials {
  position: relative;
  color: #002149;
  max-width: 1320px;
  margin-bottom: 160px;
}
.testimonials .glide__arrow {
  position: absolute;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  top: 120px;
}
.testimonials .glide__arrow--left {
  left: -60px;
  z-index: 2;
  width: 40px;
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 1200px) {
  .testimonials .glide__arrow--left {
    left: -55px;
  }
}
@media (max-width: 1100px) {
  .testimonials .glide__arrow--left {
    left: 55px;
  }
}
@media (max-width: 768px) {
  .testimonials .glide__arrow--left {
    left: -10px;
  }
}
.testimonials .glide__arrow--right {
  right: -60px;
  z-index: 2;
  width: 40px;
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 1200px) {
  .testimonials .glide__arrow--right {
    right: -55px;
  }
}
@media (max-width: 1100px) {
  .testimonials .glide__arrow--right {
    right: 55px;
  }
}
@media (max-width: 768px) {
  .testimonials .glide__arrow--right {
    right: -10px;
  }
}
.testimonials h2 {
  font-weight: 700;
  font-size: 26px;
  line-height: 34px;
  text-align: center;
  margin-bottom: 60px;
}
.testimonials__item {
  display: flex;
}
@media (max-width: 1100px) {
  .testimonials__item {
    align-items: center;
    flex-direction: column-reverse;
  }
}
.testimonials__item-col {
  width: 50%;
}
@media (max-width: 768px) {
  .testimonials__item-col {
    width: 80%;
  }
}
.testimonials__item-col_left {
  padding-right: 60px;
}
.testimonials__item-col_left img {
  width: 100%;
  max-width: 500px;
  image-orientation: none;
}
@media (max-width: 1100px) {
  .testimonials__item-col_left {
    margin-bottom: 50px;
  }
}
.testimonials__item-col_right {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}
@media (max-width: 1100px) {
  .testimonials__item-col_right {
    padding-right: 0;
  }
}
.testimonials__item-logo {
  margin-bottom: 20px;
  max-width: 208px;
}

.subscribe-big {
  max-width: 980px;
  margin: 0 auto;
  margin-bottom: 100px;
}
.subscribe-big__content {
  background: #ffffff;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.1);
  padding: 60px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.subscribe-big h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #002149;
  margin-bottom: 6px;
}
.subscribe-big h3 {
  color: #002149;
  margin-bottom: 58px;
}
.subscribe-big__form {
  max-width: 514px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subscribe-big__input-container {
  margin-bottom: 12px;
  display: flex;
  width: 100%;
  flex-direction: column;
  color: #002149;
}
.subscribe-big__input-container_last {
  margin-bottom: 28px;
}
.subscribe-big__input-container label {
  margin-bottom: 8px;
}
.subscribe-big__input {
  width: 100%;
  border: 1px solid #002149;
  padding: 12px 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #002149;
}
.subscribe-big__input::placeholder {
  color: #002149;
}
.subscribe-big__submit-btn {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  padding: 12px 58px;
  background-color: #002149;
  border: none;
  outline: none;
  cursor: pointer;
}

.footer {
  padding-bottom: 51px;
  display: flex;
  flex-direction: column;
}
.footer__brands {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
}
.footer__brands_sort {
  max-width: 175px;
}
@media (max-width: 768px) {
  .footer__brands a img {
    max-width: 130px;
  }
}
.footer__email {
  text-align: center;
  margin-bottom: 20px;
}
.footer__email a {
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #002149;
  margin-bottom: 20px;
  text-decoration: none;
}
.footer__socials {
  display: flex;
  align-items: center;
  align-self: center;
}
.footer__socials a {
  margin-right: 24px;
}
.footer__socials a:last-child {
  margin-right: 0;
}

/*# sourceMappingURL=style.css.map */
