@import url("https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$dark-blue: #002149;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: 400;
  font-family: "Montserrat";
}

header {
  height: 98px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-sort-logo {
  max-width: 134px;
}

.container {
  margin: 0 auto;
  max-width: 1205px;
  position: relative;

  @media (max-width: 1100px) {
    padding: 0 20px;
  }

  &_big {
    max-width: 1450px;
    position: relative;
    margin: 0 auto;
  }
}

.intro {
  position: relative;

  &__video {
    height: calc(100vh - 200px);
    width: 100%;

    @media (max-width: 1100px) {
      height: 500px;
    }

    @media (max-width: 768px) {
      height: 300px;
    }
  }

  &__arrow {
    width: 54px;
    height: 54px;
    display: flex;
    background-image: url("../img/arrow-down.svg");
    cursor: pointer;
    position: absolute;
    bottom: -27px;
    left: calc(50% - 27px);
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 2;

    @media (max-width: 1100px) {
      display: none;
    }
  }
}

.ellipse {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
}

.ellipse-icon {
  width: 240px;
  height: 295px;

  @media (max-width: 1400px) {
    width: 140px;
    height: 195px;
  }

  @media (max-width: 1100px) {
    display: none;
  }
}

.info {
  padding-top: 40px;
  padding-bottom: 180px;

  &__ellipse {
    &_1 {
      width: 379px;
      height: 588px;
      background-image: url("../img/ellipses/circles-1.png");
      right: 0;
      top: 100px;

      @media (max-width: 1400px) {
        width: 279px;
      }

      @media (max-width: 1100px) {
        width: 179px;
      }

      @media (max-width: 768px) {
        width: 140px;
        top: 350px;
      }
    }
  }

  h1 {
    font-weight: 700;
    font-size: 68px;
    line-height: 83px;
    color: #002149;
    color: $dark-blue;
    margin-bottom: 24px;

    @media (max-width: 1100px) {
      font-size: 45px;
      line-height: normal;
    }

    @media (max-width: 768px) {
      font-size: 35px;
    }
  }

  h2 {
    font-weight: 400;
    font-size: 38px;
    line-height: 46px;
    color: $dark-blue;
    max-width: 970px;
    margin-bottom: 124px;

    @media (max-width: 1100px) {
      font-size: 28px;
      max-width: 100%;
    }

    @media (max-width: 768px) {
      font-size: 24px;
      max-width: 100%;
    }
  }

  &__meet {
    display: flex;
    margin-bottom: 30px;
    align-items: center;

    &-text {
      color: $dark-blue;
      font-weight: 700;
      font-size: 42px;
      margin-right: 22px;
      margin-bottom: 5px;
    }
  }

  &__description {
    max-width: 683px;
    color: $dark-blue;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 36px;

    @media (max-width: 1100px) {
      font-size: 20px;
      line-height: normal;
      margin-bottom: 20px;
    }

    @media (max-width: 768px) {
      font-size: 18px;
    }

    &_bold {
      font-weight: 600;
    }
  }

  &__disclaimer {
    font-weight: 100;
    font-size: 26px;
    line-height: 32px;
    color: $dark-blue;
    max-width: 1019px;

    @media (max-width: 1100px) {
      font-size: 20px;
      line-height: normal;
    }

    @media (max-width: 768px) {
      font-size: 18px;
      line-height: normal;
    }
  }
}

.benefits {
  text-align: center;
  max-width: 1080px;
  padding-bottom: 180px;

  @media (max-width: 1100px) {
    padding-bottom: 0;
  }

  h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 26px;
    line-height: 34px;
    color: $dark-blue;
    margin-bottom: 60px;
  }

  &__container {
    display: flex;
    justify-content: space-between;

    @media (max-width: 1100px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 320px;

    @media (max-width: 1100px) {
      margin-bottom: 50px;
    }

    img {
      max-width: 96px;
      margin-bottom: 20px;

      @media (max-width: 1100px) {
        max-width: 110px;
      }
    }

    &-heading {
      font-size: 20px;
      line-height: 26px;
      font-weight: 700;
      color: $dark-blue;
      margin-bottom: 20px;
    }

    &-description {
      font-weight: 400;
      font-size: 18px;
      line-height: 26px;
      text-align: center;
      color: $dark-blue;
    }
  }
}

.future {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 160px;

  &__ellipse {
    background-image: url("../img/ellipses/icon_1.png");
    left: 0;
    top: -130px;
  }

  h2 {
    font-weight: 700;
    font-size: 26px;
    line-height: 34px;
    max-width: 700px;
    text-transform: uppercase;
    text-align: center;
    color: $dark-blue;
    margin-bottom: 60px;
  }

  &__benefits {
    display: flex;
    justify-content: center;

    @media (max-width: 1100px) {
      flex-direction: column;
    }
  }

  &__benefit {
    flex-shrink: 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: $dark-blue;
    padding: 32px;
    padding-bottom: 60px;
    max-width: 450px;
    background: #ffffff;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.1);

    &-text_bold {
      font-weight: 600;
    }

    &_left {
      margin-right: 60px;

      @media (max-width: 1100px) {
        margin-right: 0;
        margin-bottom: 50px;
      }
    }
  }
}

.about {
  color: $dark-blue;
  max-width: 760px;
  text-align: center;
  padding-bottom: 160px;

  &__ellipse {
    background-image: url("../img/ellipses/icon_2.png");
    right: 0;
    top: 100px;
  }

  h2 {
    font-weight: 700;
    font-size: 26px;
    line-height: 34px;
    margin-bottom: 40px;
    text-transform: uppercase;
  }

  &__description {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;

    @media (max-width: 1100px) {
      font-size: 18px;
    }

    &_bold {
      font-weight: 600;
    }
  }
}

.banner {
  display: flex;
  padding-bottom: 131px;
  justify-content: center;

  &__content {
    max-width: 960px;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    text-align: center;
    background: #00214a;
    backdrop-filter: blur(172px);
    color: #fff;
    padding: 40px 90px;

    @media (max-width: 768px) {
      font-size: 25px;
      padding: 40px;
    }
  }
}

.study {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 160px;
  color: $dark-blue;

  @media (max-width: 768px) {
    padding-bottom: 50px;
  }

  &__ellipse {
    background-image: url("../img/ellipses/icon_3.png");
    left: 0;
    top: -170px;
  }

  h2 {
    font-weight: 700;
    font-size: 26px;
    line-height: 34px;
    text-transform: uppercase;
    text-align: center;
    max-width: 908px;
    margin-bottom: 40px;
  }

  &__items {
    width: 100%;
    max-width: 980px;
    display: flex;
    justify-content: space-between;

    @media (max-width: 1100px) {
      align-items: center;
      flex-direction: column;
    }
  }

  &__item {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    max-width: 300px;

    @media (max-width: 1100px) {
      margin-bottom: 50px;
    }

    &-percent {
      font-weight: 700;
    }
  }
}

.shield {
  margin-bottom: 180px;

  &__box {
    display: flex;
    padding: 80px 0;
    margin: 0 auto;
    max-width: 960px;
    align-items: center;
    background: #ffffff;
    justify-content: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      padding: 165px 20px;
    }
  }

  img {
    width: 183px;
    margin-right: 70px;

    @media (max-width: 768px) {
      max-width: 100px;
      margin-right: 0;
      margin-bottom: 20px;
    }
  }

  &__text {
    color: $dark-blue;
    max-width: 406px;
    font-weight: 400;
    font-size: 26px;
    line-height: 36px;
    text-transform: uppercase;

    @media (max-width: 768px) {
      font-size: 22px;
      text-align: center;
    }

    &_bold {
      font-weight: 600;
    }
  }
}

.media {
  text-align: center;
  color: $dark-blue;
  max-width: 960px;
  margin-bottom: 288px;

  @media (max-width: 768px) {
    margin-bottom: 150px;
  }

  &__ellipse {
    width: 312px;
    height: 774px;
    background-image: url("../img/ellipses/circles-2.png");
    right: 0;
    top: -220px;

    @media (max-width: 1400px) {
      width: 219px;
    }

    @media (max-width: 1100px) {
      width: 119px;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
  }
}

.infographic {
  display: flex;
  justify-content: center;
  margin-bottom: 180px;

  img {
    max-width: 100%;
  }
}

.benefits2 {
  margin-bottom: 172px;

  h2 {
    color: $dark-blue;
    text-align: center;
    font-weight: 700;
    font-size: 26px;
    line-height: 34px;
    text-transform: uppercase;
    margin-bottom: 60px;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    max-width: 840px;
    margin: 0 auto;
  }

  .mb50 {
    margin-bottom: 50px;
  }

  &__item {
    display: flex;
    width: 33.33%;
    text-align: center;
    flex-direction: column;
    align-items: center;

    @media (max-width: 1100px) {
      width: 50%;
      margin-bottom: 50px;
    }

    @media (max-width: 768px) {
      width: 100%;
      margin-bottom: 50px;
    }

    img {
      max-height: 100px;
      margin-bottom: 20px;
    }

    &-desc {
      font-weight: 400;
      font-size: 18px;
      line-height: 26px;
      max-width: 180px;
      color: $dark-blue;
    }
  }
}

.performing {
  max-width: 960px;
  margin-bottom: 160px;
  color: $dark-blue;
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  z-index: 1;

  &__ellipse {
    width: 247px;
    height: 751px;
    background-image: url("../img/ellipses/circles-3.png");
    left: 0;
    top: -320px;
    z-index: 1;

    @media (max-width: 1400px) {
      width: 140px;
    }

    @media (max-width: 1100px) {
      width: 80px;
    }

    &_2 {
      width: 240px;
      height: 295px;
      background-image: url("../img/ellipses/icon_4.png");
      right: 0;
      bottom: 225px;

      @media (max-width: 1400px) {
        width: 140px;
        height: 195px;
        bottom: -22px;
      }
    }
  }

  &__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    margin-bottom: 20px;

    &_bold {
      font-weight: 600;
    }
  }
}

.infographic2 {
  display: flex;
  justify-content: center;
  margin-bottom: 160px;
  max-width: 1026px;

  img {
    max-width: 100%;
  }
}

.testimonials {
  position: relative;
  color: $dark-blue;
  max-width: 1320px;

  .glide__arrow {
    position: absolute;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    top: 120px;
  }

  .glide__arrow--left {
    left: -60px;
    z-index: 2;
    width: 40px;
    display: flex;
    justify-content: flex-end;

    @media (max-width: 1200px) {
      left: -55px;
    }

    @media (max-width: 1100px) {
      left: 55px;
    }

    @media (max-width: 768px) {
      left: -10px;
    }
  }

  .glide__arrow--right {
    right: -60px;
    z-index: 2;
    width: 40px;
    display: flex;
    justify-content: flex-end;

    @media (max-width: 1200px) {
      right: -55px;
    }

    @media (max-width: 1100px) {
      right: 55px;
    }

    @media (max-width: 768px) {
      right: -10px;
    }
  }

  h2 {
    font-weight: 700;
    font-size: 26px;
    line-height: 34px;
    text-align: center;
    margin-bottom: 60px;
  }

  &__item {
    display: flex;

    @media (max-width: 1100px) {
      align-items: center;
      flex-direction: column-reverse;
    }

    &-col {
      width: 50%;

      @media (max-width: 768px) {
        width: 80%;
      }

      &_left {
        padding-right: 60px;

        img {
          width: 100%;
          max-width: 500px;
          image-orientation: none;
        }

        @media (max-width: 1100px) {
          margin-bottom: 50px;
        }
      }

      &_right {
        display: flex;
        flex-direction: column;
        font-family: "Montserrat";
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;

        @media (max-width: 1100px) {
          padding-right: 0;
        }
      }
    }

    &-logo {
      margin-bottom: 20px;
      max-width: 208px;
    }
  }
}

.footer {
  padding-top: 167px;
  padding-bottom: 51px;
  display: flex;
  flex-direction: column;

  &__brands {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;

    &_sort {
      max-width: 175px;
    }

    @media (max-width: 768px) {
      a img {
        max-width: 130px;
      }
    }
  }

  &__email {
    text-align: center;
    margin-bottom: 20px;

    a {
      font-family: "Inter";
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: $dark-blue;
      margin-bottom: 20px;
      text-decoration: none;
    }
  }

  &__socials {
    display: flex;
    align-items: center;
    align-self: center;

    a {
      margin-right: 24px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
